/* .app__notAuthorized-container {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXCTsCf6rkvE80MEauWMzm4mrK1p-gqvmQSg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;

} */